APP_NAME=auth-service
HTTP_PORT=8080
GRPC_PORT=50051

# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=authdb
POSTGRES_PORT=5432
POSTGRES_HOST=db
POSTGRES_SSLMODE=disable

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TTL=86400  # seconds (1 day)
